body{
    padding:100px;
}

.submit{
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 40px;
    max-width: 60%;
    align-items: center;
    margin: 0 auto;
}

.submit2 {
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 40px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
  
}
#t_area{
   display: none;
   transition: .8s;
}

.deposit{
    background-color: slateblue;
    color: white;
    margin: 0 20px;
}

.withdraw{
    background-color: lightsalmon;
    color: #fff;
    margin: 0 20px;
}

.balance{
    background-color: orange;
    color: #fff;
    margin: 0 20px;
}

.status{
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}